* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

main {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 24px;
}